<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/materialize.min.css">
    <link href="/stylesheets/angular-datepicker.min.css" rel="stylesheet" type="text/css" />
    <!-- Google Fonts and Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Domine|Shrikhand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<!-- Start of Async Drift Code -->
<script>
  "use strict";
  
  !function() {
    var t = window.driftt = window.drift = window.driftt || [];
    if (!t.init) {
      if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
      t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
      t.factory = function(e) {
        return function() {
          var n = Array.prototype.slice.call(arguments);
          return n.unshift(e), t.push(n), t;
        };
      }, t.methods.forEach(function(e) {
        t[e] = t.factory(e);
      }), t.load = function(t) {
        var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
        o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
        var i = document.getElementsByTagName("script")[0];
        i.parentNode.insertBefore(o, i);
      };
    }
  }();
  drift.SNIPPET_VERSION = '0.3.1';
  drift.load('ckkgfm8u26te');
  </script>
  <!-- End of Async Drift Code -->

  </head>
  <body ng-app="myApp">
    <navbar></navbar>
    <div class='ui-view-wrapper'>
        <div ui-view ></div>
    </div>
    <app-footer></app-footer>
  </body>
    <script type="text/javascript" src="/javascripts/lib/angular.min.js" defer></script>
    <script type="text/javascript" src="/javascripts/lib/jquery.min.js" defer></script>
    <script type="text/javascript" src="/javascripts/lib/angular-material.min.js" defer></script>
    <script type="text/javascript" src="javascripts/lib/materialize.min.js" defer></script>
    <script type="text/javascript" src="javascripts/lib/angular-materialize.js" defer></script>
    <script type="text/javascript" src="/javascripts/lib/angular-animate.min.js" defer></script>
    <script type="text/javascript" src="/javascripts/lib/angular-aria.min.js" defer></script>
    <script type="text/javascript" src="/javascripts/lib/angular-messages.min.js" defer></script>
    <script type="text/javascript" src="/javascripts/lib/angular-ui-router.min.js" defer></script>
    <script type="text/javascript" src='/javascripts/lib/moment.min.js' defer></script>
    <script type="text/javascript" src="/javascripts/lib/angular-datepicker.min.js" defer></script>
    <script src="https://use.fontawesome.com/7bd9923aab.js" defer></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWx9o3xJCheJRsVvR8DYG7IhP6rDt8L8U" async defer></script>

    <!-- Components -->
    <script type="text/javascript" src="/javascripts/client.js" defer></script>
    <script type="text/javascript" src="/javascripts/main.js" defer></script>
    <script type="text/javascript" src="/javascripts/navbar.js" defer></script>
    <script type="text/javascript" src="/javascripts/footer.js" defer></script>
    <script type="text/javascript" src="/javascripts/home.js" defer></script>
    <script type="text/javascript" src="/javascripts/about.js" defer></script>
    <script type="text/javascript" src="/javascripts/auth.js" defer></script>
    <script type="text/javascript" src="/javascripts/login.js" defer></script>
    <script type="text/javascript" src="/javascripts/signup.js" defer></script>
    <script type="text/javascript" src="/javascripts/parties/party-service.js" defer></script>
    <script type="text/javascript" src="/javascripts/parties/parties.js" defer></script>
    <script type="text/javascript" src="/javascripts/parties/party-show.js" defer></script>
    <script type="text/javascript" src="/javascripts/parties/party-new.js" defer></script>
    <script type="text/javascript" src="/javascripts/parties/party-edit.js" defer></script>
    <script type="text/javascript" src="/javascripts/map.js" defer></script>
</html>
