/*** GENERAL STYLING ***/


html, body {
  height: 100%;
  margin: 0;
  background-color: rgb(17,19,68);
  background: url('/img/pineapples.jpeg') no-repeat center center fixed;
  background-size: cover;
}

.ui-view-wrapper {
  margin-bottom: 46px;
}

h5 {
  font-family: 'Shrikhand', cursive;
}

nav .brand-logo {
  font-family: 'Shrikhand', cursive;
  padding-left: 15px;
}

main {
  flex: 1 0 auto;
}

/*** NAV STYLING ***/

.button-collapse {
  color: black;
  padding-left: 10px;
}

nav ul li a {
  color: black;
}

.nav-wrapper .brand-logo {
  color: black;
}



/*** MAIN LANDING STYLING ***/

.main-landing {
  width: 60%;
  background: rgb(224,242,241);
  color: black;
  text-align: center;
  margin: 20px auto 0;
  padding: 15px;
  border: 5px solid rgb(224,242,241);
  border-radius: 20px;
}

.main-landing h2 {
  margin: 0;
  text-align: center;
  font-family: 'Shrikhand', cursive;
}

.main-landing .md-button {
  background-color: rgb(232,197,71);
}



/*** FORMS ***/

#new-party form {
  width: 100%;
  max-height: 800px;
}

.date-picker-format {
  width: 200px;
}

.signup form {
  text-align: left;
}

.main-landing .signup {
  width: 70%;
  margin: 0 auto;
  background: rgb(224,242,241);
  color: black;
  text-align: center;
  margin-top:;
  padding: 10px;
  padding-bottom: 50px;
  border: 5px solid rgb(224,242,241);
  border-radius: 20px;
}

.detail-choices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 10px;
}

.detail-choice-box {
  width: 40%;
  max-width: 300px;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.detail-choice-box input,
.detail-choice-box label {
  width: 100%;
}

[type="checkbox"]+label {
  height: initial;
}


/*** ABOUT PAGE ***/

#about {
  background-color: rgb(239,233,231);
}

#about .about-header {
  background-color: rgb(239,233,231);
  height: 300px;
  padding: 20px;
}

#about .about-body {


}

#about .tech-used {
  padding: 0, 20px, 0, 20px;
  margin: 10px;
  background-color: rgb(239,233,231);
  width: 50% auto;
}

#about i {
  padding: 10px;
  position: static;
}

#about .contact {
  width: 50% auto;
  padding: 0, 20px, 0, 20px;
  margin: 10px;
  background-color: rgb(239,233,231);
}

/*** PARTY LIST PAGE ***/

.party-page-title {
  padding-top: 20px;
  padding-left: 20px;
  margin-top: 0;
}

.party-page {
  background-color: rgb(239,233,231);
  padding-top: 15px;
}

.newButton {
  padding: 30px;
}

.party-page .parties {
  padding: 0 30px;
}

.party-page .parties h4 {
  cursor: pointer;
}

.party-page .parties .icons i {
  padding: 0 5px;
}


/*** PARTY SHOW PAGE ***/

#party-show .party-body {
  display: flex;
  flex-direction: row;
  margin: 0 0 5px;
  padding-bottom: 10px;
  background-color: rgb(239,233,231);
}

#party-show .party-header {
  background-color: rgb(239,233,231);
  padding: 10px 20px 10px;
}

#party-show .party-header h3 {
  margin: 0;
}

#party-show .party-header .party-description {
  margin-bottom: 0;
}

#party-show p {
  font-size: 15px;
}

#party-show i {
  padding: 10px;
  position: static;
}

#party-show .party-info {
  width: 60%;
  font-size: 20px;
  padding-left: 20px;
}

#party-show .food-list {
  height: auto;
  width: 70%;
}

#party-show .party-people {
  background-color: rgb(239,233,231);
  width: 100%;
  font-size: 20px;
}

#party-show .party-music {
  background-color: rgb(239,233,231);
  width: 30%;
}

#party-show .party-header .icon-span {
  padding: 9px 5px;
}

#party-show .detail-section .icon {
  width: 40px;
  float: left;
}

#party-show .detail-section .details {
  margin-left: 40px;
}

#party-show .detail-section i {
  padding: 0 10px;
  vertical-align: top;
}

.showButton {
  margin-left: 20px;
}

/*** FOOTER STYLING ***/

footer {
  text-align: center;
}

footer.page-footer {
  left:0px; bottom:0px; right:0px;
  width: 100%;
  height: 41px;
  margin: 0;
  padding: 10px 0;
  position: fixed;
}


/*** MAP STYLING ***/

#map{
  height: 600px;
  width: 800px;
  margin: 30px auto;
}

#showmap{
  height: 300px;
  width: 100%;
  margin: 0 auto;

}

#repeat{
  display: inline;
}

#party_container {
  margin: 8px 2px 2px 0px;
  text-align: center;
  width: 90px;
  padding: 5px;
  color: white;
  background-color: gray;
  font-size: 16px;
  cursor: pointer;
}

#party_container:hover {
  background-color: gray;
  border: 1px solid gray;
  cursor: pointer;
}

#names {
  cursor: pointer;
}

#geocodeMap {
  height: 300px;
  width: 80%;
  min-width: 250px;
  margin: 20px auto;
}
