/*** GENERAL STYLING ***/

* {
  box-sizing: border-box;
}

body {
  background: url(../images/bg-images/bg1.jpeg) no-repeat center center fixed;
  background-size: cover;
}

html, body {
  height: 100%;
  margin: 0;
}



/*** FLEXBOX ***/

.flex-container {
  display: flex;
}



/*** NAV STYLING ***/

nav {
  background: rgba(100,0,0,.5);
  justify-content: space-between;
  height: 50px;
}

nav a {
  color: lightgray;
  text-decoration: none;
}

nav a:hover {
  color: white;
}

.nav-left {
  padding-left: 15px;
  align-items: center;
}

.nav-right {
  padding-right: 15px;
  align-items: center;
}

.nav-right h2 {
  padding-left: 10px;
  font-size: 1em;
}



/*** MAIN LANDING STYLING ***/

.main-landing {
  width: 50%;
  margin: 0 auto;
  background: rgba(0,0,0,.5);
  color: black;
  text-align: center;
  margin-top: 70px;
}

.main-landing h2 {
  margin: 0;
  text-align: center;
}

.main-landing .md-button {
  background-color: rgba(255,255,255,.7);;
}



/*** LOGIN LANDING STYLING ***/

#login-body, #login-body .main-landing {
  background: rgb(178,235,242);
}

#login-body .main-landing {
  width: 70%;
}

#login-body .main-landing h2 {
  color: black;
  text-align: left;
}

#login-body md-input-container {
  padding: 0 15px;
  text-align: left;
}

#login-body .footer-contact {
  display: none;
}

#login-body .footnote {
  padding-bottom: 5px;
}

#login-body .signup, #login-body .signin {
  width: 70%;
  margin: 3%;
  background: white;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

#login-body .signin h2, #login-body .signup h2 {
    text-align: center;
}



/*** FOOTER STYLING ***/

footer {
  color: lightgray;
  background: rgba(0,0,0,.5);
  justify-content: space-between;
  flex-wrap: wrap;
  position:fixed;
  left:0px; bottom:0px;
  width: 100%;
}

footer a {
  text-decoration: none;
  color: lightgray;
}

footer a:hover {
  color: white;
}

.footnote, .footer-contact {
  width: 100%;
}

.footnote {
  text-align: center;
  padding: 0 0 10px;
}

.member-contact {
  border-top: 1px solid red; /* lightgray */
  width: 25%;
  margin: 0 5%;
  text-align: center;
}

.member-contact h5 {
  margin: 0;
}

footer h4 {
  margin: 0;
}
