<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>PartyStarter</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel="stylesheet" type="text/css" href="../public/stylesheets/angular-material.min.css">
  <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
</head>
<body id='login-body' ng-app='myApp'></body>

  <header>
    <nav class='flex-container'>
      <div class='nav-left flex-container'>
        <h1><a href="index.html">PartyStarter</a></h1>
      </div>
      <div class='nav-right flex-container'>
        <h2><a href="login.html">Login</a></h2>
        <h2><a href="signup.html">Signup</a></h2>
      </div>
    </nav>

<!-- ANGULAR MATERIAL NAVBAR, MAYBE.. NOT CURRENTLY WORKING -->

  <div ng-controller="AppCtrl" ng-cloak>
    <md-content class="md-padding">
      <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-click="goto('page1')" name="login">Log In</md-nav-item>
        <md-nav-item md-nav-click="goto('page2')" name="signup">signup</md-nav-item>
        <!-- these require routing with ui-router or ng-route
        <md-nav-item md-nav-sref="app.page4" name="page4">Page Four</md-nav-item>
        <md-nav-item md-nav-href="#page5" name="page5">Page Five</md-nav-item>
        -->
      </md-nav-bar>
      <div class="ext-content">
        External content for `<span>{{currentNavItem}}</span>`
      </div>
    </md-content>


  </header>

  <div class='main-landing' layout='row'>
    <div class='signin' layout='column'>
      <h3>Already have an account?</h3>
      <h2>Sign In</h2>
      <form name="signin">
      <md-input-container>
        <label>Username</label>
        <input name="username" ng-model="user.username" required>
        <div ng-messages="signin.username.$error">
          <div ng-message="required">This is required!</div>
        </div>
      </md-input-container>
      <md-input-container>
        <label>Password</label>
        <input type="password" ng-model="user.local.password" required>
        <div ng-messages="sigin.password.$error">
          <div ng-message="required">This is required!</div>
        </div>
      </md-input-container>
      <md-button class="md-raised" input type="submit">Sign In</button>
      </form>
    </div>
  </div>

  <footer class='flex-container'>
    <div class='footnote'>
      <h4>Created by Group 5 for Project 3 of General Assembly's Web Development Immersive.</h4>
      <h4>View our project on <a href="">GitHub</a>.</h4>
    </div>
    <div class='footer-contact flex-container'>
      <div class='member-contact'>
        <h5>Justin Doak</h5>
        <a href="">Email</a>
        <a href="">GitHub</a>
      </div>
      <div class='member-contact'>
        <h5>Kirsten Humphreys</h5>
        <a href="">Email</a>
        <a href="">GitHub</a>
      </div>
      <div class='member-contact'>
        <h5>Sam Mershon</h5>
        <a href="">Email</a>
        <a href="">GitHub</a>
      </div>
      <div class='member-contact'>
        <h5>Josh Pereira</h5>
        <a href="">Email</a>
        <a href="">GitHub</a>
      </div>
    </div>
  </footer>




  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.min.js"></script>
  <script src="main.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>

  <!-- Your application bootstrap  -->
  <script type="text/javascript">
    angular.module('myApp', ['ngMaterial', 'ngMessages']);
  </script>

</body>

</html>
