<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>PartyStarter</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel="stylesheet" type="text/css" href="../public/stylesheets/angular-material.min.css">
  <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
</head>
<body id="new-party" ng-app="MyApp">

  <header>
    <nav class='flex-container'>
      <div class='nav-left flex-container'>
        <h1><a href="index.html">PartyStarter</a></h1>
      </div>
      <div class='nav-right flex-container'>
        <h2><a href="index.html">Login</a></h2>
        <h2><a href="index.html">Signup</a></h2>
      </div>
    </nav>
  </header>

<!-- NEW PARTY FORM  -->
    <div ng-controller="newParty" layout="column" class="md-inline-form">
      <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding="">
        <div>
          <md-input-container>
            <label>Party Starer</label>
            <input ng-model="party.creator">
          </md-input-container>

          <md-input-container>
            <label>Email</label>
            <input ng-model="party.email" type="email">
          </md-input-container>
        </div>
      </md-content>

      <md-content layout-padding="">
        <div>
          <form name="partyForm">
            <div layout-gt-xs="row">
              <md-input-container class="md-block" flex-gt-xs="">
                <label>New Party</label>
                <input ng-model="party.name">
              </md-input-container>

              <md-input-container>
                <label>When?</label>
                <md-datepicker ng-model="party.submissionDate"></md-datepicker>
              </md-input-container>
            </div>

            <div layout-gt-sm="row">
            <md-input-container class="md-block">
              <label>Address</label>
              <input ng-model="party.address">
            </md-input-container>

            <md-input-container md-no-float="" class="md-block">
              <input ng-model="party.address2" placeholder="Address 2">
            </md-input-container>

            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm="">
                <label>City</label>
                <input ng-model="party.city">
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm="">
                <label>State</label>
                <md-select ng-model="party.state">
                  <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                    {{state.abbrev}}
                  </md-option>
                </md-select>
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm="">
                <label>Postal Code</label>
                <input name="postalCode" ng-model="party.postalCode" placeholder="12345" required="" ng-pattern="/^[0-9]{5}$/" md-maxlength="5">

                <div ng-messages="partyForm.postalCode.$error" role="alert" multiple="">
                  <div ng-message="required" class="my-message">You must supply a postal code.</div>
                  <div ng-message="pattern" class="my-message">That doesn't look like a valid postal
                    code.
                  </div>
                  <div ng-message="md-maxlength" class="my-message">
                    Don't use the long version silly...we don't need to be that specific...
                  </div>
                </div>
              </md-input-container>
            </div>

            <md-input-container class="md-block">
              <label>Description</label>
              <textarea ng-model="party.description" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
            </md-input-container>

          </form>
        </div>
      </md-content>
    </div>

    <footer class='flex-container'>
      <div class='footnote'>
        <h4>Created by Group 5 for Project 3 of General Assembly's Web Development Immersive.</h4>
        <h4>View our project on <a href="">GitHub</a>.</h4>
      </div>
      <div class='footer-contact flex-container'>
        <div class='member-contact'>
          <h5>Justin Doak</h5>
          <a href="">Email</a>
          <a href="">GitHub</a>
        </div>
        <div class='member-contact'>
          <h5>Kirsten Humphreys</h5>
          <a href="">Email</a>
          <a href="">GitHub</a>
        </div>
        <div class='member-contact'>
          <h5>Sam Mershon</h5>
          <a href="">Email</a>
          <a href="">GitHub</a>
        </div>
        <div class='member-contact'>
          <h5>Josh Pereira</h5>
          <a href="">Email</a>
          <a href="">GitHub</a>
        </div>
      </div>
    </footer>




    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.min.js"></script>
    <script src="main.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>

    <!-- Your application bootstrap  -->
    <!-- <script type="text/javascript">
      angular.module('myApp', ['ngMaterial', 'ngMessages']);
    </script> -->

  </body>

  </html>
