<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>PartyStarter</title>
  <!-- Angular Material CDN and Links -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel="stylesheet" type="text/css" href="../public/stylesheets/angular-material.min.css">
  <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
  <!-- MaterializeCSS CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Domine|Shrikhand" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

      <nav class="teal lighten-5" role="navigation">
        <div class="nav-wrapper">
          <a href="index.html" class="brand-logo">PartyStarter</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="login.html">Log In</a></li>
            <li><a href="signup.html">Sign Up</a></li>
          </ul>
        </div>
      </nav>
</head>

<body id="new-party" ng-app="MyApp">

<!-- NEW PARTY FORM  -->
  <div class="main-landing">
    <div ng-controller="newParty" layout="column" class="md-inline-form">
      <md-content layout-gt-sm="row" layout-padding="">
        <div>
          <md-input-container>
            <label>Party Starer</label>
            <input ng-model="party.creator">
          </md-input-container>

          <md-input-container>
            <label>Email</label>
            <input ng-model="party.email" type="email">
          </md-input-container>
        </div>
      </md-content>

      <md-content layout-padding="">
        <div>
          <form name="partyForm">
            <div layout-gt-xs="row">
              <md-input-container class="md-block" flex-gt-xs="">
                <label>New Party</label>
                <input ng-model="party.name">
              </md-input-container>
              <br>
              <md-input-container>
                <label>When?</label>
                <md-datepicker ng-model="party.submissionDate"></md-datepicker>
              </md-input-container>
            </div>
            <br>

            <div layout-gt-sm="row">
            <md-input-container class="md-block">
              <label>Address</label>
              <input ng-model="party.address">
            </md-input-container>

            <md-input-container md-no-float="" class="md-block">
              <input ng-model="party.address2" placeholder="Address 2">
            </md-input-container>

            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm="">
                <label>City</label>
                <input ng-model="party.city">
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm="">
                <label>State</label>
                <md-select ng-model="party.state">
                  <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                    {{state.abbrev}}
                  </md-option>
                </md-select>
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm="">
                <label>Postal Code</label>
                <input name="postalCode" ng-model="party.postalCode" placeholder="12345" required="" ng-pattern="/^[0-9]{5}$/" md-maxlength="5">

                <div ng-messages="partyForm.postalCode.$error" role="alert" multiple="">
                  <div ng-message="required" class="my-message">You must supply a postal code.</div>
                  <div ng-message="pattern" class="my-message">That doesn't look like a valid postal
                    code.
                  </div>
                  <div ng-message="md-maxlength" class="my-message">
                    Don't use the long version silly...we don't need to be that specific...
                  </div>
                </div>
              </md-input-container>
            </div>

            <md-input-container class="md-block">
              <label>Description</label>
              <textarea ng-model="party.description" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
            </md-input-container>

          </form>
        </div>
      </md-content>
    </div>
  </div>
</div>

    <footer class="page-footer teal lighten-5">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="black-text">About PartyStarter</h5>
          <p class="black-text">Created by Group 5 for Project 3 of General Assembly's Web Development Immersive.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="black-text">Contact</h5>
          <ul>
            <li><a class="black-text" href="#!">Justin Doak</a></li>
            <li><a class="black-text" href="#!">Kirsten Humphreys</a></li>
            <li><a class="black-text" href="#!">Sam Mershon</a></li>
            <li><a class="black-text" href="#!">Josh Pereira</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      View our project on <a href="">GitHub</a>.</p>
      <a class="black-text text-lighten-1 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>

    <!-- Angular Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>

    <!-- MaterializeCSS  -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.1/angular-materialize.min.js"></script>
    <script type="text/javascript" src="main.js">

    <!-- myApp bootstrap  -->
    <script type="text/javascript">
      angular.module('myApp', ['ngMaterial', 'ui.materialize', 'ngMessages']);
    </script>

  </body>

  </html>
