<div class="main-landing z-depth-1">
    <div class="row">
      <div class="col-sm-12">
        <h2>Sign up</h2>
      </div>
      <div class="col-sm-12">
        <form #f="ngForm" (ngSubmit)="onRegister(f)" novalidate>

          <div class="form-group" ng-class="{ 'has-success': form.name.$valid && $ctrl.submitted,
                                              'has-error': form.name.$invalid && $ctrl.submitted }">
            <label>Name</label>

            <input type="text" name="name" class="form-control" [(ngModel)]="newSignup.name"
                   required/>
            <p class="help-block" ng-show="form.name.$error.required && $ctrl.submitted">
              A name is required
            </p>
          </div>

          <div class="form-group" ng-class="{ 'has-success': form.email.$valid && $ctrl.submitted,
                                              'has-error': form.email.$invalid && $ctrl.submitted }">
            <label>Email</label>

            <input type="email" name="email" class="form-control" [(ngModel)]="newSignup.email"
                   required
                   mongoose-error/>
            <p class="help-block" ng-show="form.email.$error.email && $ctrl.submitted">
              Doesn't look like a valid email.
            </p>
            <p class="help-block" ng-show="form.email.$error.required && $ctrl.submitted">
              What's your email address?
            </p>
            <p class="help-block" ng-show="form.email.$error.mongoose">
              {{ this.errors.email }}
            </p>
          </div>

          <div class="form-group" ng-class="{ 'has-success': form.password.$valid && $ctrl.submitted,
                                              'has-error': form.password.$invalid && $ctrl.submitted }">
            <label>Password</label>

            <input type="password" name="password" class="form-control" ng-model="$ctrl.user.password"
                   ng-minlength="3"
                   required
                   mongoose-error/>
            <p class="help-block"
               ng-show="(form.password.$error.minlength || form.password.$error.required) && $ctrl.submitted">
              Password must be at least 3 characters.
            </p>
            <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ $ctrl.errors.password }}
            </p>
          </div>

          <div class="form-group" ng-class="{ 'has-success': form.confirmPassword.$valid && $ctrl.submitted,
                                              'has-error': form.confirmPassword.$invalid && $ctrl.submitted }">
            <label>Confirm Password</label>
            <input type="password" name="confirmPassword" class="form-control" ng-model="$ctrl.user.confirmPassword"
                   match="$ctrl.user.password"
                   ng-minlength="3" required/>
            <p class="help-block"
               ng-show="form.confirmPassword.$error.match && $ctrl.submitted">
              Passwords must match.
            </p>
          </div>

          <div>
            <button class="btn btn-inverse btn-lg btn-register yellow lighten-2 black-text" type="submit">
              Sign up
            </button>
          </div>

        </form>
        <p>Already have an account? Log in <a ui-sref="login">here!</a></p>

      </div>
    </div>

  </div>